@model Parametri

<form method="post" asp-action="HandleButtonClick">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Kalkulator</h2>
        </div>

        <div class="mb-3">
            <label for="povrsina">Površina:</label>
            <input type="text" name="povrsina" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="snaga">Snaga:</label>
            <input type="text" name="snaga" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="duzina">Dužina:</label>
            <input type="text" name="duzina" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="napon">Napon:</label>
            <input type="text" name="napon" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px" value="Izracunaj">Izračunaj</button>

        @*<label for="povrsina">Povrsina:</label><br>
        <input type="text" name="povrsina"><br>

        <label for="snaga">Snaga:</label><br>
        <input type="text" name="snaga"><br>

        <label for="duzina">Duzina:</label><br>
        <input type="text" name="duzina"><br>

        <label for="napon">Napon:</label><br>
        <input type="text" name="napon"><br>
        <br /><br />
        <input type="submit" value="Izracunaj">*@


        @if (ViewData.ContainsKey("WarningMessage"))
        {
            <div class="alert alert-warning">
                @ViewData["WarningMessage"]
            </div>
        }

        <div class="mb-3">
            <label for="padNapona">Pad napona:</label>
            <input type="text" name="padNapona" class="form-control " />
        </div>
    </div>
</form>

@*<br />
<h3>Pad Napona: @ViewData["PadNapona"]</h3>*@


