
@{
    ViewData["Title"] = "Pad napona";
    
}
<h1>@ViewData["Title"]</h1>

<form method="post" action="@Url.Action("Racunaj", "ParametriController")" >

    <label for="povrsina">Povrsina:</label><br>
    <input type="text" name="povrsina"><br>

    <label for="snaga">Snaga:</label><br>
    <input type="text" name="snaga"><br>

    <label for="duzina">Duzina:</label><br>
    <input type="text" name="duzina"><br>

    <label for="napon">Napon:</label><br>
    <input type="text" name="napon"><br>

    <input type="submit" value="Izracunaj">

    <p>@ViewBag.padNapona<p>

</form>

