@model IEnumerable<Parametri>

<form method="post" asp-action="HandleButtonClick">
    <div class="border p-3 mt-4">
        <div class="row pb-2">
            <h2 class="text-primary">Kalkulator</h2>
        </div>

        <div class="mb-3">
            <label for="povrsina">Površina poprečnog presjeka [mm2]:</label>
            <input type="text" name="povrsina" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="snaga">Snaga [kW]:</label>
            <input type="text" name="snaga" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="duzina">Dužina kabela [m]:</label>
            <input type="text" name="duzina" class="form-control" />
        </div>

        <div class="mb-3">
            <label for="napon">Napon [V]:</label>
            <input type="text" name="napon" class="form-control" />
        </div>

        <button type="submit" class="btn btn-primary" style="width:150px" value="Izracunaj">Izračunaj</button>

        @if (ViewData.ContainsKey("WarningMessage"))
        {
            <div class="alert alert-warning">
                @ViewData["WarningMessage"]
            </div>
        }
        <br /><br />
        <div class="row pb-2">
            <h2 class="text-primary">Pad Napona: @ViewData["PadNapona"] %</h2>
        </div>

        <img src="~/css/trofazna.png" >
        <p>Formula po kojoj se računa pad napona trofazne struje</p>
        <br />
        <img src="~/css/monofazna.png" alt="Formula po kojoj se računa pad napona monofazne struje">
        <p>Formula po kojoj se računa pad napona monofazne struje</p>
    </div>
</form>

@*<br />
<h3>Pad Napona: @ViewData["PadNapona"]</h3>*@


