@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Izrada web aplikacije s bazom podataka elemenata NN električnih instalacija</h1>
    <p>Pronađite projekt na <a href="https://github.com/iamfilipovich/zavrsnirad_v2">linku</a>.</p>



    <h3>Fakultet strojarstva, računarstva i elektrotehnike</h3>


    <h4>Student : Filip Filipović (1944/RR)</h4>
</div>  
