@{
    ViewData["Title"] = "Električni elementi";
}
<h1>@ViewData["Title"]</h1>



<p>Niskonaponske instalacije podrazumijevaju sve strujne krugove koji se nalaze nakon kućnog priključnog ormarića. Osnovni dijelovi svake niskonaponske instalacije su: vodiči, kabeli, rastavljač, prekidač, sklopke, osigurači i drugo.</p>

<h3>Vodiči</h3>

<p>Električni vodiči su materijali u kojima postoje slobodni nositelji električnog naboja, pa zbog toga dobro vode električnu struju. Najčešće upotrebljavani materijali za izradu vodiča su bakar i aluminij, jer imaju najbolju vodljivost i nisku cijenu. Osim po materijalu vodiče dijelimo po presijeku, tipu izolacije i položaju žica unutar samog voda.</p>

<h3>Kabeli</h3>

<p>Električni kabel je električni vod koji sadrži dva ili više vodiča povezanih ili isprepletenih zajedno čineći jedan sklop. Vodiči su izrađeni od dobro vodljivih materijala električno su izolirani, te su smješteni unutar zajedničkog omotača koji ih štiti od vanjskih utjecaja. U nisko naponskim postrojenjima kabeli se biraju po trajnoj struji koja će teći kabelom, struji kratkoga spoja te samom mjestu polaganja kabela</p>

<h3>Osigurači</h3>

<p>Niskonaponski osigurači su elementi svake niskonaponske instalacije koji nam služe za zaštitu ostalih elemenata niskonaponske instalacije od preopterećenja i kratkog spoja. Osim što osigurači štite uređaje u strujnome krugu štite i ljude od napona dodira. U praksi se koriste najčešće tri vrste osigurača. Svaki tip osigurača ima svoju specifično mjesto uporabe.</p>

<h3>Prekidači</h3>

<p>Prekidači su sklopni uređaji koji nam služe za otvaranje i zatvaranje strujnog kruga i zaštitu od struje kvara. Projektirani su tako da mogu voditi i prekidati nazivnu struju, te u određenom vremenu mogu voditi i struju kvara. Dijelimo ih prema naponskim razinama.</p>

<h3>Rastavljači</h3>

<p>Rastavljači su električni elementi koji u postrojenju služe kako bi se na vidljivi način odvojila dva voda ili dvije sabirnice. U zatvorenome stanju rastavljači se ponašaju kao vod, te mogu trajno voditi pogonsku struju. Rastavljači se izrađuju za vanjsku i unutranju ugradnju, te za sve naponske razine.</p>

<h3>Sklopke</h3>

<p>Sklopke služe za trajno vođenje i sklapanje struje u normalnim pogonskim uvijetima, kratkotrajno mogu podnositi i struje kratkoga spoja. Sklopke se prvenstveno prave za nisko naponske instalacije. Imaju veliku električnu i mehaničku trajnost, te su podložni velikom broju uklapanja i sklapanja.</p>
